[defaults]
# Essential for new EC2 instances to avoid "host authenticity" errors
host_key_checking = False

# Points Ansible to your inventory folder structure
inventory = ./inventories

# Ensures Ansible uses the correct Python version on Amazon Linux 2023
interpreter_python = auto_silent

# Standard path for your roles
roles_path = ./roles

# Improves performance slightly by reducing SSH connections
[ssh_connection]
pipelining = True
# Fixes some "tty" errors common on Windows/WSL
scp_if_ssh = True